// Place all the styles related to the AdminUsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//=======================admin_form_signin=======================
.form_name_admin {
    padding: 25px 0;
    font-weight: normal;
    color: #fff;
    border-bottom: 1px solid #000;
    background-color: #000;}